@model Human
@{
    ViewData["Title"] = "_HumanPartial";
}



<div class="col-md-4">
    <div class="card">
        <h2>@Model.Name</h2>
        <p>Sex: @Model.Sex</p>
        <p>Skin Color: @Model.SkinColor</p>
    </div>
</div>