@model IEnumerable<AspNetMvcPic.Models.ListItem>
@{
    ViewData["Title"] = "Home Page";
}



<!--
<p>
    <a asp-action="New" class="btn btn-sm btn-primary rounded-0 text-uppercase"><i class="fas fa-plus-circle"></i> Add New</a>
</p>

-->


<partial name="_Carousel" />


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <img src="~/images/@item.ProfilePicture"
                 class="card card-img"
                 asp-append-version="true" />
            @item.Name
        </div>
    }
</div>